* {
    background-color: #EF5B5B; 
    color: #EDFFEC;
}

div[class~="contain"]{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color: #20A39E;
    width: 99%;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-section {
    text-align: center;
}
  
#block a {
    display: block;
    background-color:#20A39E;
    text-decoration: none;
    text-align: center;
    padding: 20px;
}
  
li a:hover, #block a:hover, a:hover{
    background-color: #111;
}

img, video, iframe {
    border: #20A39E solid;
    padding: 1px;
    margin: 1px;
    border-width: 5px;
}

ul li {
    text-decoration: none;
}

ol > li::first-line{
    font-weight: bold;
    font-size: 18pt;
    font-style: italic;
}

h2{
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.ordered-me {
    list-style: none;
}

#me-list-wrap {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "education work"
        "strength sports";
    gap: 10px;
}

#education-list{grid-area: education;}
#work-list{grid-area: work;}
#strengths-list{grid-area: strength;}
#sports-list{grid-area: sports;}

p + p {
    font-style: oblique;
}

th, td {
    border: 4px solid #20A39E;
    border-radius: 15px;
}

h2 ~ p {
    text-align: center;
}

table, .center {
    display: flex;
    justify-content: center;
}

input, textarea {
    background-color: #20A39E;
}

th {
    text-decoration: underline;
    font-size: 18pt;
    font-weight: bold;
    font-style: italic;
}